@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
:root {
  --grey:#DDDDDD;
  --navy:#30475E;
  --red:#F05454;
  --dark:#222831;
}

@font-face {
  font-family: 'lemonmilk';
  src: url("./assets/LEMONMILK-Medium.otf") format("opentype");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  font-family: 'lemonmilk';
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: var(--dark);
  color: var(--red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
}

body .home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .home .title-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100;
}

body .home .title-container .name {
  color: var(--grey);
  font-size: 5em;
}

@media (max-width: 768px) {
  body .home .title-container .name {
    text-align: center;
    font-size: 3em;
  }
}

@media screen and (max-width: 400px) {
  body .home .title-container .name {
    font-size: 2.5em;
    text-align: center;
  }
}

body .home .title-container .description {
  font-size: 2em;
}

@media (max-width: 768px) {
  body .home .title-container .description {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  body .home .title-container .description {
    font-size: 1.6em;
  }
}

body .about {
  height: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-bottom: 50px;
}

body .about h5 {
  font-size: 2em;
}

@media (max-width: 600px) {
  body .about h5 {
    font-size: 1.5em;
  }
}

body .about .abilities .abilities-container {
  background-color: var(--navy);
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 3vh;
  margin-top: 60px;
}

@media screen and (max-width: 400px) {
  body .about .abilities .abilities-container {
    padding: 16px;
  }
}

body .about .abilities .abilities-container .profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid var(--navy);
  float: right;
  margin-top: -70px;
}

@media screen and (max-width: 400px) {
  body .about .abilities .abilities-container .profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-bottom: 16px;
  }
}

body .about .abilities .abilities-container .description {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: var(--grey);
}

body .about .abilities .abilities-container .description span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--red);
}

@media screen and (max-width: 400px) {
  body .about .abilities .abilities-container .description {
    font-size: 14px;
    text-align: justify;
  }
}

body .about .container-skills-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  body .about .container-skills-language {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .about .container-skills-language .soft-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--navy);
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 20px;
}

@media screen and (max-width: 400px) {
  body .about .container-skills-language .soft-skills {
    padding: 16px;
  }
}

@media screen and (min-width: 1700px) {
  body .about .container-skills-language .soft-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .about .container-skills-language .soft-skills p {
  font-size: 1.2em;
  color: var(--grey);
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 400px) {
  body .about .container-skills-language .soft-skills p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 16px;
  }
}

body .about .container-skills-language .soft-skills p span {
  font-size: 1.2em;
  color: var(--red);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

body .about .container-skills-language .soft-skills .skills-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

body .about .container-skills-language .soft-skills .skills-img img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 1000;
}

body .about .container-skills-language .soft-skills .skills-img .react-router {
  width: 80px;
}

body .about .container-skills-language .soft-skills .skills-img .responsive {
  width: 70px;
}

body .proyects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .proyects h5 {
  font-size: 2em;
}

@media screen and (max-width: 400px) {
  body .proyects h5 {
    font-size: 1.6em;
    text-align: center;
  }
}

body .proyects .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 20px 0;
}

body .proyects .card-container .card {
  max-width: 600px;
  margin: 10px;
  background-color: transparent;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

body .proyects .card-container .card:hover .card__caption {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .proyects .card-container .card:hover .card__image {
  -webkit-filter: blur(5px) saturate(0) brightness(0.8);
          filter: blur(5px) saturate(0) brightness(0.8);
}

body .proyects .card-container .card:hover .card__thumb::after {
  top: 0;
}

body .proyects .card-container .card:hover .card__snippet {
  margin: 20px 0;
}

body .proyects .card-container .card__thumb {
  position: relative;
  height: 300px;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  body .proyects .card-container .card__thumb {
    height: 220px;
  }
}

body .proyects .card-container .card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 1024px) {
  body .proyects .card-container .card__thumb::after {
    top: calc(100% - 140px);
  }
}

body .proyects .card-container .card__image {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

body .proyects .card-container .card__caption {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  body .proyects .card-container .card__caption {
    top: calc(100% - 80px);
    -webkit-transform: unset;
            transform: unset;
  }
}

body .proyects .card-container .card__caption .tecnologies-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

body .proyects .card-container .card__caption .tecnologies-img .react {
  width: 50px;
  margin: 0 5px;
}

body .proyects .card-container .card__caption .tecnologies-img .styled {
  height: 100px;
}

body .proyects .card-container .card__caption .tecnologies-img .router {
  width: 100px;
}

@media screen and (max-width: 500px) {
  body .proyects .card-container .card__caption .tecnologies-img {
    display: none;
  }
}

body .proyects .card-container .card__caption .marginoff {
  margin-top: 0;
}

body .proyects .card-container .card__title {
  display: -webkit-box;
  color: var(--grey);
  max-height: 85px;
  overflow: hidden;
  font-size: 23px;
  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 400px) {
  body .proyects .card-container .card__title {
    font-size: 16px;
  }
}

body .proyects .card-container .card__snippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  text-shadow: 0px 1px 5px black;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media (min-width: 1024px) {
  body .proyects .card-container .card__snippet {
    margin: 60px 0;
  }
}

@media screen and (max-width: 400px) {
  body .proyects .card-container .card__snippet {
    font-size: 12px;
  }
}

body .proyects .card-container .card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

body .proyects .card-container .card__button:hover {
  color: black;
  background-color: white;
}

body .contact {
  height: 100vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

body .contact h5 {
  font-size: 2em;
}

@media screen and (max-width: 400px) {
  body .contact h5 {
    font-size: 1.6em;
    text-align: center;
  }
}

body .contact .contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  z-index: 100;
  width: 80%;
}

@media (max-width: 1366px) {
  body .contact .contact-card {
    width: 80vw;
  }
}

@media (max-width: 800px) {
  body .contact .contact-card {
    width: 100%;
  }
}

body .contact .contact-card span button {
  height: 5vh;
  width: 150px;
  background-color: var(--red);
  border: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: 20px;
  border-radius: 5px;
  color: var(--dark);
  cursor: pointer;
  font-size: 1.2em;
}

body .contact .contact-card span button:hover {
  background-color: var(--navy);
  -webkit-transform: scale(110%);
          transform: scale(110%);
  color: var(--red);
}

body .contact .contact-card .input1 {
  height: 50px;
  width: 100%;
  margin: 10px;
  border: none;
  border-radius: 3px;
  color: var(--grey);
  background-color: var(--navy);
  padding-left: 10px;
}

@media (max-width: 800px) {
  body .contact .contact-card .input1 {
    width: 80vw;
  }
}

body .contact .contact-card #mensaje {
  height: 20vh;
  width: 100%;
  margin: 10px;
  border: none;
  border-radius: 3px;
  color: var(--grey);
  background-color: var(--navy);
  resize: none;
  padding-left: 10px;
  padding-top: 4px;
}

@media (max-width: 800px) {
  body .contact .contact-card #mensaje {
    width: 80vw;
  }
}

body .contact .social-media {
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  margin-top: 12vh;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

body .contact .social-media a {
  color: inherit;
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 2vw;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body .contact .social-media a:hover {
  color: var(--navy);
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

body .contact .social-media .linkedin {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 1/-1;
}

body .contact .social-media .mail {
  -ms-grid-column: 2;
  grid-column: 2;
  grid-row: 1/-1;
}

body .contact .social-media .github {
  -ms-grid-column: 3;
  grid-column: 3;
  grid-row: 1/-1;
}

@media screen and (max-width: 400px) {
  body .contact .social-media .linkedin {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-right: 100px;
  }
  body .contact .social-media .mail {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  body .contact .social-media .github {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-left: 100px;
  }
}
/*# sourceMappingURL=styles.css.map */